*,
html {
    margin: 0;
    padding: 0;
}

.container {}
.profile {
    display: flex;
}
.navbar-container {
    background-color: rgb(154, 154, 154);
    width: 100%;
    height: 100;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(97, 97, 97);
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: aliceblue;
    border-radius: 8px;
}
.li-navbar:hover {
    background-color: green;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.container-about-product {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.about-product {
    color: white;
}

.specific-alharameen {
    color: white;
    margin: 5px;
}

.about-alharameen {
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

.about-alharameen1 {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.content-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.a-content {
    background-color: rgb(191, 191, 191);
    color: white;
    text-decoration: none;
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-content {
    width: 20%;
    height: 80%;
    margin: 6px;
    border: 4px solid white;
    border-radius: 10px;
}

.footer-container {
    background-color: rgb(22, 137, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

.footer-h1 {
    font-size: 50px;
}
.footer-h2 {
    font-size: 40px;
}
.footer-h3 {
    font-size: 30px;
}
.penutupan {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}